/**
 * Global vars
 */

/*
 * Colors
 */
$text-color: #000;

/*
 * Fonts
 */
$font-stack: 'Apercu Pro', Roboto, arial, sans-serif;
$font-size: 16px;

/*
 * Media Queries
 */
$screen-s: "(min-width: 480px)";
$screen-m: "(min-width: 768px)";

/*
 * Layout
 */
$borderpx-xs: 10px solid;
$borderpx-s: 50px solid;


$body-padding: 6vw 10% 6vw 10%;
