{% extends "base.html" %}
{% block content %}

<!-- PARTEEK !-->
<div class="u-full-width">
    <h1>PARTEEK</h1>
</div>

<div class="container">
    <p class="marginTop60">Designer?</p>
</div>

<hr>

<!-- PROJECTS !-->
<div class="u-full-width">
    <h1>PROJECTS</h1>
</div>

<div class="container">
  	<p class="marginTop60"><a href="/google">Google</a></p>
    <p class="marginTop30"><a href="">Form</a></p>
    <p class="marginTop30"><a href="">ARTPOP</a></p>
    <p class="marginTop30"><a href="">Broooooooooooooooooo</a></p>
</div>

<hr>

<!-- ABOUT !-->
<div class="u-full-width">
    <h1>ABOUT</h1>
</div>


{% endblock content%}
