{% extends "base.html" %}
{% block content %}

<div class="u-full-width">
    <h1>Form</h1>
</div>

<div class="container">
    <p class="marginTop60">A prototyping tool for iOS.</p>
</div>

<hr>

<div class="container">
    <p class="marginTop190">Tools shape your work. As contraints of the platform you’re designing for align, your work is closer to production level results.</p>

 	<p class="marginTop60">Form is a node-based prototyping tool designed to create interactive prototypes that execute on iOS devices.</p>
</div>

<div class="u-full-width">
	<img src="/static/images/formPic.png" alt="" style="" width="100%" class="marginTop120">
	<img src="/static/images/artpopPics.png" alt="" style="" width="100%" class="marginTop120">
</div>


{% endblock content%}
