{% extends "base.html" %}
{% block content %}

<div class="u-full-width">
    <h1>Google</h1>
</div>

<div class="container">
    <p class="marginTop60">Work done at Google.</p>
</div>

<hr>

<div class="container">
    <p class="marginTop190">Coming soon.</p>
</div>

<div class="u-full-width">
	<img src="/static/images/formPic.png" alt="" style="" width="100%" class="marginTop120">
	<img src="/static/images/artpopPics.png" alt="" style="" width="100%" class="marginTop120">
</div>


{% endblock content%}
