{% extends "base.html" %}
{% block content %}

<!-- PARTEEK !-->
<div class="u-full-width">
    <h1>PARTEEK</h1>
</div>

<div class="container">
    <p class="marginTop60">Designer?</p>
</div>

<hr>

<!-- PROJECTS !-->
<div class="u-full-width">
    <h1>PROJECTS</h1>
</div>

<div class="container">
  	<p class="marginTop60"><a href="/google.html">Google (coming soon)</a></p>
    <p class="marginTop30"><a href="/form.html">Form</a></p>
    <p class="marginTop30"><a href="/artpop.html">ARTPOP</a></p>
    <p class="marginTop30"><a href="/bro.html">Broooooooooooooooooo</a></p>
</div>

<hr>

<!-- ABOUT !-->
<div class="u-full-width">
    <h1>ABOUT</h1>
</div>

<div class="container" style="margin-bottom: 190px;">
    <p class="marginTop60">Parteek is a designer based out of San Francisco, CA. During my freetime I’m riding my bike, eating croissants, drinking coffee, or learning new stuff.</p>
    <p class="marginTop60">Currently I do stuff at Google, alongside projects I take on during my personal time.</p>

    <div class="row">
        <div class="three columns">
            <p class="marginTop60"><a href="https://twitter.com/teek_s/" target="_blank">Twitter</a></p>
        </div>
        <div class="three columns">
            <p class="marginTop60"><a href="mailto:parteek@teek.me" target="_blank">Email</a></p>
        </div>
        <div class="three columns">
            <p class="marginTop60"><a href="https://dribbble.com/parteek" target="_blank">Dribbble</a></p>
        </div>
        <div class="three columns">
            <p class="marginTop60"><a href="https://www.instagram.com/parteek/" target="_blank">Instagram</a></p>
        </div>
    </div>
</div>

{% endblock content%}
